# Configuración de Base de Datos
DATABASE_URL=mysql+pymysql://root:1@localhost:3306/gym_db

# Clave Secreta y Criptografía para JWT
SECRET_KEY=8f4e2d
ALGORITHM=HS256

# Configuración del Frontend para Enlaces de Correo
FRONTEND_URL=http://localhost:5173

# Origen Permitido para CORS en Producción (Opcional)
PROD_ORIGIN=https://mi-gimnasio.com

# Credenciales del Servidor de Correo SMTP (Gmail/Outlook)
SMTP_USER=ayendi200219@gmail.com
SMTP_PASSWORD=smrvqzrxhraotlzh
